.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;

}

.navbar-container{
    background-color: #808080;
    margin-bottom: 2rem;
}


.navbar ul {
    list-style-type: none;
}
.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.navbar ul li{
    display: inline;
    align-items: center;
    padding-right: 20px;
}

.casts-div {
    display: flex;
   
    padding: 0.5px ;
    padding-top: 70px;
    margin-right: 70px;
}
.casts-div div{
    margin-right: 1rem;
    
    
}
